<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Easay - Streamline Your Project Management</title>
    <meta name="description" content="Learn about Easay, an innovative app launched in June 2024 to streamline project management by merging files, offering spell-checks, and predictive text input. Built using Flask, JavaScript, python-docx, and Pillow (PIL).">
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/"><h1>Easay</h1></a>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/report">Report</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="about">
            <h2>About Easay</h2>
            <div class="underline"></div>
            <p>Easay, launched in June 2024, was inspired by the developer's challenges in managing evidence material, feedback, and content from various projects during his second year. Instead of spending time manually organizing everything, he created an app to streamline the process. As of June 24, 2024, Easay can efficiently merge files into one organized document. Future updates will include a file finder, spelling and grammar checks, and machine learning models that predict the user's next input.</p>
            <p>Easay is built using <a href="https://flask.palletsprojects.com/">Flask</a>, <a href="https://www.javascript.com/">JavaScript</a>, <a href="https://python-docx.readthedocs.io/en/latest/">python-docx</a>, and <a href="https://pillow.readthedocs.io/">Pillow (PIL)</a>. Learn more about these <a href="https://en.wikipedia.org/wiki/Technology">technologies</a> and how <a href="https://www.scribbr.com">Scribbr</a> inspired this innovative project.</p>
            <p>Connect with the creator:
                <ul>
                    <li style="list-style:none"><strong>Tarek Aykour</strong></li>
                    <li><a href="https://www.linkedin.com/in/tarekaykour/">LinkedIn</a></li>
                    <li><a href="https://github.com/TarekAykour">Github</a></li>
                    <li><a href="https://tarekaykour.netlify.app/">Portfolio</a></li>
                </ul>
            </p>
        </section>
    </main>
</body>
</html>
